html {
    scroll-behavior: smooth;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body{
    min-height: 100vh;
    background-color: #F8F4E1;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

header {
    width: 100%;
    background-color: #543310;
}

.header-top {
    background-color: #F8F4E1;
    padding: 20px 4%;
}

.header-top .logo img{
    max-width: 125px;
}

.header-top > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top .social button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    border-radius: 50%;
    background-color: transparent;
    border: #543310 2px solid;
    cursor: pointer;
    color: #543310;
}

.header-bott nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.header-bott nav ul li a{
    color: white;
    text-decoration: none;
    padding: 20px 40px;
    font-weight: 500;
    display: block;
    transition: 0.25s;
}

.header-bott nav ul li a:hover {
    background-color: #F8F4E1;
    color: #543310;
    box-shadow: inset 0 0 4px #54331072;
    transition: 0.25s;
}

.drop-hover {
    position: relative;
}

.drop-hover .drop {
    position: absolute;
    background-color: #764816;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.drop-hover .drop-msc {
    position: absolute;
    background-color: #764816;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.drop-hover .drop a {
    padding: 20px;
}

.drop-hover .drop-msc a {
    padding: 20px;
}

.drop-hover:hover .drop{
    height: 200%;
    transition: 0.5s;
}

.drop-hover:hover .drop-msc{
    height: 235%;
    transition: 0.5s;
}

.capaMain {
    justify-content: center;
    text-align: center;
    display: flex;
    height: 800px;
    width: auto;
    zoom: 110%;
    overflow: hidden;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.537);


}

.slider{
    width: 98vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slider .slide-track{
    display: flex;
    animation: scroll 60s linear infinite;
    -webkit-animation: scroll 60s linear infinite ;
    width: calc(200px * 10);
    align-items: center;
}

.slider .slide{
    width: 200px;
    height: 200px;
    border: black 1,5px solid;
    border-radius: 05px;
    margin: 15px;
    margin-top: 55px;
    margin-bottom: 55px;
    background-color: white;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.274);
}

.slider .slide h2{
    width: 100%;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.slider .slide h5{
    width: 100%;
    font-size: 12px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
}

.slider .slide p{
    width: 100%;
    font-size: 15px;
    padding: 5px;
    display: flex;
    float: left;
    justify-content: left;
    margin-top: -7px;
}

.slider .slide i{
    display: flex;
    float: left;
    padding-left:15px;
}

.video-youtube{
    background-color: #543310;
    width: 99.6vw;
    height: 800px;
    overflow: hidden;
}

.video-youtube .video-roband{
    display: flex-box;
    justify-content: center;
    align-items: center;
    text-align: center;
    float: right;
    margin-top: 25px;
    margin-right: 200px;
    height: 650px;
    width: 1100px;
    border-radius: 10px;
}

.video-youtube h2{
    margin-top: 25px;
    width: 100%;
    font-size: 36px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    color: #F8F4E1;
}

.contact{
    min-height: 75vh;
    background-color: #F8F4E1;
    padding: 50px;
    text-align: center;
}

.container{
    max-width: 800px;
    margin: 0 auto;
}

.container h2{
    font-size: 36px;
    margin-bottom: 40px;
    color:#311e09 ;
}

.contact-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.contact-form{
    text-align: left;
}

.contact-form h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #543310;
}

.form-group{
    margin-bottom: 20px;
}

input, textarea{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #f2ebcc;
    transition: 0.5s;
}

input:focus, 
textarea:focus{
    outline: none;
    box-shadow: 0 0 8px #76481663;
    transition: 0.5s;
}

.form-button{
    display: inline-block;
    padding: 12px 24px;
    background-color: #764816;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s;
}

.form-button:hover{
    scale: 1.1;
    background-color: #311e09;
    transition: 0.1s;
}

.contact-info{
    text-align: left;
}

.contact-info h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #543310;
}

.contact-info p{
    margin-bottom: 10px;
    font-weight: 500;
}

.contact-info a:hover{
    text-decoration: underline;
}

.contact-info a{
    text-decoration: none;
    color: black;
}

footer{
    display: flex;
    justify-content: center;
    height: 250px;
    flex-direction: column;
    width: 100%;
    background-color: #311e09;
    overflow-x: hidden;
}

.logo-footer{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

footer img{
    height: 110px;
    margin-bottom: 20px;
}

.redes-sociais{
    height: 35px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.redes-sociais button{
    width: 50px;
    height: auto;
    font-size: 35px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: white;
    padding: 30px;
}

@keyframes scroll{
    0% {
        -webkit-transform:translateX(0);
        transform:translateX(0);
    }

    100% {
        -webkit-transform:translateX(calc(-200px * 5));
        transform:translateX(calc(-200px * 5));
    }
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track{
    background-color: #F8F4E1;
}

  /* Handle */
::-webkit-scrollbar-thumb {
background: #543310;
border-radius: 3px;
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #311e09; 
}